name: Tests

on: push

jobs:
  compile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v5.1.0
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'sbt'

      - name: Install sbt
        uses: sbt/setup-sbt@v1

      - name: Compile
        run: sbt clean compile

      - name: Test
        run: sbt test