name: Scaladoc

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  scaladoc:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'sbt'

      - name: Install sbt
        uses: sbt/setup-sbt@v1

      - name: Generation doc
        run: sbt doc

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./target/scala-3.7.4/api
          destination_dir: scaladoc
          enable_jekyll: false